################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APICatalogo/FileContentIndex/093ffebf-594d-4356-8b03-6eb4ca033903.vsidx
/.vs/APICatalogo/FileContentIndex/2f68473b-a2e4-4527-b9ce-280f83daee52.vsidx
/.vs/APICatalogo/FileContentIndex/56bd1251-988f-4d71-a720-e0b4781d4e6a.vsidx
/.vs/APICatalogo/FileContentIndex/56f08a07-6e83-437f-828a-fd8f5cc2e63e.vsidx
/.vs/APICatalogo/FileContentIndex/7c3001ae-4553-470d-a72c-619ef2473e0d.vsidx
/.vs/APICatalogo/FileContentIndex/a5bdb9b6-62f7-46f9-a1f5-ea57da006896.vsidx
/.vs/APICatalogo/FileContentIndex/b6b2ca19-72ee-48a4-830e-50605712b359.vsidx
/.vs/APICatalogo/FileContentIndex/read.lock
